<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="/qima-challenge/css/products.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        /* Estilo básico para o ícone de edição e lixeira */
        .edit-icon, .delete-icon {
            cursor: pointer;
            font-size: 20px;
            margin-left: 10px;
        }
        .delete-icon {
            color: red; /* Cor vermelha para o ícone de deletar */
        }
        /* Estilo para o modal de confirmação */
        .confirm-overlay {
            display: none; /* Inicialmente escondido */
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
            z-index: 1000; /* Para estar acima de outros elementos */
        }
        .confirm-modal {
            background: white;
            padding: 20px;
            border-radius: 8px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="overlay hidden" id="overlay"></div>
    <div class="modal hidden" id="productForm">
        <div class="modal-content">
            <span class="close-button" id="closeForm">&times;</span>
            <h3 id="formTitle">New Product</h3>
            <form id="newProductForm">
                <input type="hidden" id="productId" name="productId" value="">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" required>
                <label for="price">Price:</label>
                <input type="number" id="price" name="price" step="0.01" required>
                <label for="available">Available:</label>
                <select id="available" name="available">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                

				<div class="button-container">
		                <button type="submit" class="primary-button" id="createProductButton">Create Product</button>
	                	<button type="submit" class="primary-button" id="editProductButton">Edit Product</button>
                </div>
                
            </form>
        </div>
    </div>

    <!-- Modal de confirmação de deleção -->
    <div class="confirm-overlay" id="confirmDeleteModal">
        <div class="confirm-modal">
            <h3>Are you sure you want to delete this product?</h3>
            <button id="confirmDeleteButton" class="primary-button">Yes</button>
            <button id="cancelDeleteButton" class="primary-button">No</button>
        </div>
    </div>

    <div class="product-container">
        <h1>QIMA Challenge</h1>
        <h2>Product List</h2>

        <table class="styled-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Available</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="productList"></tbody>
        </table>
        
        <div class="button-container">
            <button class="primary-button" id="addProductButton">New Product</button>
            <button class="primary-button" id="logoutBtn">Log Off</button>
        </div>
        
            
    <br><br><br><br>
	    <center>
	    
	    Only for challenge propose!<br><br><br>
	    Powered by: 
	    <a target="top" href="https://www.linkedin.com/in/luis-claudio-tavares/"> 
	     Luis Claudio Tavares
	    </a>
	    
	    </center>
    
    </div>

    <script src="/qima-challenge/js/products.js"></script>
    
    <script>
        $(document).ready(function() {
            const token = localStorage.getItem('jwt');
            if (!token) {
                window.location.href = '/qima-challenge/login';
            }

            // Função para carregar os produtos
            function loadProducts() {
                $.ajax({
                    url: 'http://localhost:8081/api/products', 
                    method: 'GET',
                    headers: {
                        'Authorization': 'Bearer ' + token 
                    },
                    success: function(data) {
                        const productList = $('#productList');
                        productList.empty(); 
                        data.forEach(product => {
                            productList.append(`
                                <tr>
                                    <td>${product.id}</td>
                                    <td>${product.name}</td>
                                    <td>${product.description}</td>
                                    <td>${product.price.toFixed(2)}</td>
                                    <td>${product.available ? 'Yes' : 'No'}</td>
                                    <td>
                                        <span class="edit-icon" data-id="${product.id}">&#9998;</span> 
                                        <span class="delete-icon" data-id="${product.id}">&#128465;</span>
                                    </td>
                                </tr>
                            `);
                        });
                    },
                    error: function(err) {
                        console.error(err);
                    }
                });
            }

            // Carrega os produtos ao iniciar
            loadProducts(); 

            // Exibir o formulário de registro de produtos
            $('#addProductButton').on('click', function() {
                $('#overlay').removeClass('hidden'); 
                $('#productForm').removeClass('hidden'); 
                //$('#formTitle').text('Insert New');
                $('#createProductButton').text('Insert New');
                $('#newProductForm')[0].reset();
                $('#productId').val(''); 
                document.getElementById("name").focus();
            });

            // Fechar o formulário de registro de produtos
            $('#closeForm').on('click', function() {
                $('#overlay').addClass('hidden'); 
                $('#productForm').addClass('hidden'); 
            });

            // Lógica para enviar o novo produto via AJAX
            $('#newProductForm').on('submit', function(e) {
            	
            	e.preventDefault();
                const productId = $('#productId').val();
                
                if (productId) {
                    // Lógica para editar o produto (PUT)
                    editProduct(productId);
                } else {
                    // Lógica para criar um novo produto (POST)
                    createProduct();
                }
                
            });

            
         // Função para editar produto
            function editProduct(productId) {
                const productData = {
                    name: $('#name').val(),
                    description: $('#description').val(),
                    price: parseFloat($('#price').val()),
                    available: $('#available').val() === 'true'  // Converte para booleano
                };

                $.ajax({
                    url: `http://localhost:8081/api/products/${productId}`,
                    method: 'PUT',
                    headers: {
                        'Authorization': 'Bearer ' + token, // Inclui o token JWT
                        'Content-Type': 'application/json'  // Define o tipo de conteúdo
                    },
                    data: JSON.stringify(productData),  // Converte os dados do produto para JSON
                    success: function() {
                        $('#overlay').addClass('hidden');  // Fecha o modal
                        $('#productForm').addClass('hidden');  // Esconde o formulário
                        loadProducts();  // Recarrega a lista de produtos
                    },
                    error: function(err) {
                        console.error(err);
                    }
                });
            }

            // Função para criar novo produto
            function createProduct() {
                const productData = {
                    name: $('#name').val(),
                    description: $('#description').val(),
                    price: parseFloat($('#price').val()),
                    available: $('#available').val() === 'true'  // Converte para booleano
                };

                $.ajax({
                    url: `http://localhost:8081/api/products`,
                    method: 'POST',
                    headers: {
                        'Authorization': 'Bearer ' + token, // Inclui o token JWT
                        'Content-Type': 'application/json'  // Define o tipo de conteúdo
                    },
                    data: JSON.stringify(productData),
                    success: function() {
                        $('#overlay').addClass('hidden');  // Fecha o modal
                        $('#productForm').addClass('hidden');  // Esconde o formulário
                        loadProducts();  // Recarrega a lista de produtos
                    },
                    error: function(err) {
                        console.error(err);
                    }
                });
            }
             
            
            
         // Ação de editar um produto
            $(document).on('click', '.edit-icon', function() {
                const productId = $(this).data('id');
                $.ajax({
                    url: `http://localhost:8081/api/products/${productId}`, 
                    method: 'GET',
                    headers: {
                        'Authorization': 'Bearer ' + token 
                    },
                    success: function(product) {
                        // Exibe o formulário com os campos preenchidos
                        $('#overlay').removeClass('hidden'); 
                        $('#productForm').removeClass('hidden'); 
                        $('#formTitle').text('Edit Product');
                        //$('#submitButton').text('Edit Product');
                        //createProductButton
                        
                        // Preenche o formulário com os dados do produto
                        $('#productId').val(product.id);
                        $('#name').val(product.name);
                        $('#description').val(product.description);
                        $('#price').val(product.price);
                        $('#available').val(product.available.toString());
                        
                        openEditProductForm();
                    },
                    error: function(err) {
                        console.error(err);
                    }
                });
            });            
            

            let productIdToDelete = null; 

            // Ação para deletar produto ao clicar no ícone de lixeira
            $(document).on('click', '.delete-icon', function() {
                productIdToDelete = $(this).data('id'); 
                $('#confirmDeleteModal').css('display', 'flex'); 
            });

            // Ação ao confirmar a deleção
            $('#confirmDeleteButton').on('click', function() {
                if (productIdToDelete) {
                    $.ajax({
                        url: `http://localhost:8081/api/products/${productIdToDelete}`,
                        method: 'DELETE',
                        headers: {
                            'Authorization': 'Bearer ' + token 
                        },
                        success: function() {
                            $('#confirmDeleteModal').hide(); // Esconde o modal de confirmação
                            loadProducts(); // Recarrega a lista de produtos
                        },
                        error: function(err) {
                            console.error(err);
                        }
                    });
                }
            });

            $('#cancelDeleteButton').on('click', function() {
                $('#confirmDeleteModal').hide(); // Esconde o modal de confirmação
            });

            $('#logoutBtn').on('click', function() {
                localStorage.removeItem('jwt');
                window.location.href = '/qima-challenge/login'; 
            });
        });
        
     // Função para abrir o formulário de criação
        function openCreateProductForm() {
            $('#newProductForm')[0].reset();  // Limpa o formulário
            $('#productId').val('');  // Garante que não haja ID (criação)
            
            // Mostra o botão de "Create Product", esconde o de "Edit Product" e destaca o botão ativo
            //$('#divButtonNew').show();
            //$('#divButtonEdit').hide();

            
            $('#overlay').removeClass('hidden');
            $('#productForm').removeClass('hidden');
        }

        // Função para abrir o formulário de edição
        function openEditProductForm(product) {
       	
            $('#name').val(product.name);
            $('#description').val(product.description);
            $('#price').val(product.price);
            $('#available').val(product.available ? 'true' : 'false');
            $('#productId').val(product.id);  

            // Mostra o botão de "Edit Product", esconde o de "Create Product" e destaca o botão ativo
            //$('#divButtonNew').hide();
            //$('#divButtonEdit').show();

            $('#overlay').removeClass('hidden');
            $('#productForm').removeClass('hidden');
        } 
        
    </script>

</body>
</html>
